


<div class="jumbotron  container">
    <h1>Welcome to Phishing Awareness</h1>
    <p>This website is dedicated to spreading awareness about phishing and educating users about the dangers of phishing attacks.</p>
    <p>Phishing is a fraudulent attempt to obtain sensitive information, such as usernames, passwords, and credit card details, by disguising as a trustworthy entity.</p>
    <p>My goal is to provide information, tips, and resources to help you recognize phishing attempts, protect your personal information, and stay safe online.</p>
    <p>Explore the content and learn how to defend yourself against phishing scams. Remember, knowledge is your best defense!</p>
</div>
