

<div class="container mt-5">
    <h1 class="display-4">Project: Dangers of Phishing</h1>
    <p class="lead">This project focuses on raising awareness about the dangers of phishing attacks.</p>

    <!-- Frontend GitHub Repo Link -->
    <h2>Frontend Repository:</h2>
    <p>
        <a href="https://github.com/The-Hustler-Hattab/angular-phishing-sites/tree/master" target="_blank">Frontend GitHub Repository</a>
    </p>

    <!-- Backend GitHub Repo Link -->
    <h2>Backend Repository:</h2>
    <p>
        <a href="https://github.com/The-Hustler-Hattab/phishing-backend" target="_blank">Backend GitHub Repository</a>
    </p>

    <h2>Project Details:</h2>
    <ul>
        <li>Built with Angular for the frontend.</li>
        <li>Utilizes AWS SAM (Serverless Application Model) for the backend.</li>
        <li>Backend components include AWS Lambda, API Gateway, and DynamoDB.</li>
    </ul>

    <h2>Objective:</h2>
    <p>The main goal of this project is to educate individuals about the risks associated with phishing attacks. It includes:</p>
    <ul>
        <li>Real-world examples of phishing pages, including mimicked pages of popular services like Google and Facebook to showcase the potential dangers.</li>
        <li>Tips and best practices for avoiding falling victim to phishing scams.</li>
    </ul>

    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>